! PortChannel BGP vers Distribution VSX
{% for po in portchannels %}
! Configuration du PortChannel
interface {{ po.id }}
   description "{{ po.description }}"
   no shutdown
   no routing
   ip address {{ po.ip_address }}
!
{% for member in po.members %}
! Configuration du membre {{ member.interface }}
interface {{ member.interface }}
   description "{{ member.description }}"
   no shutdown
   no routing
   vlan trunk native 1
   vlan trunk allowed all
!
{% endfor %}
{% endfor %}

! Activation LACP (si protocol est lacp)
{% for po in portchannels %}
{% if po.protocol == "lacp" %}
interface {{ po.id }}
   lacp mode active
!
{% for member in po.members %}
interface {{ member.interface }}
   lacp rate fast
   lacp timeout short
!
{% endfor %}
{% endif %}
{% endfor %}