! WAN Uplinks - L3 Routed
{% for uplink in wan_uplinks %}
interface {{ uplink.interface }}
   description "{{ uplink.description }}"
   no shutdown
   routing
   ip address {{ uplink.ip_address }}
   ip ospf {{ ospf.process_id }} area {{ uplink.ospf_area }}
   ip ospf passive-disablen
{% endfor %}