! VLAN Configuration
{% for vlan in vlans %}
vlan {{ vlan.id }}
   name "{{ vlan.name }}"
{% if vlan.ip_address is defined %}
interface vlan {{ vlan.id }}
   ip address {{ vlan.ip_address }}
   no shutdown
{% endif %}
{% endfor %}