! ACLs Configuration
{% for acl in acls %}
access-list {{ acl.type }} {{ acl.name }}
{% for sequence in acl.sequences %}
   {{ sequence.sequence }} {{ sequence.action }} ip {{ sequence.source }} {{ sequence.destination }}
{% endfor %}
!
{% endfor %}
