! Configuration de base pour {{ inventory_hostname }}
hostname {{ hostname | default(inventory_hostname) }}
clock timezone {{ timezone | default('Europe/Paris') }}
ip domain-name {{ system.domain_name }}

! NTP Configuration
{% for ntp in system.ntp_servers %}
ntp server {{ ntp }}
{% endfor %}

! Management Interface
interface vlan {{ mgmt_vlan }}
   description "MGMT_VLAN"
   ip address {{ mgmt_ip }}/{{ mgmt_subnet }}
   no shutdown
