! BGP Configuration
{% if bgp is defined %}
router bgp {{ bgp.as_number }}
   bgp router-id {{ bgp.router_id }}
   {% if bgp.log_neighbor_changes | default(true) %}
   bgp log-neighbor-changes
   {% endif %}
   
   ! Networks to advertise
   {% for network in bgp.networks %}
   network {{ network }}
   {% endfor %}
   
   ! Neighbors Configuration
   {% for neighbor in bgp.neighbors %}
   neighbor {{ neighbor.ip }} remote-as {{ neighbor.remote_as }}
   neighbor {{ neighbor.ip }} description "{{ neighbor.description }}"
   {% endfor %}
{% else %}
! BGP configuration skipped - bgp not defined
{% endif %}