! BGP Configuration for {{ hostname }}
router bgp {{ bgp.as_number }}
   router-id {{ bgp.router_id }}
   {% if bgp.log_neighbor_changes | default(true) %}
   log-neighbor-changes
   {% endif %}
   
   ! Networks to advertise
   {% for network in bgp.networks %}
   network {{ network }}
   {% endfor %}
   
   ! Neighbors Configuration
   {% for neighbor in bgp.neighbors %}
   neighbor {{ neighbor.ip }} remote-as {{ neighbor.remote_as }}
   neighbor {{ neighbor.ip }} description "{{ neighbor.description }}"
   {% if neighbor.next_hop_self is defined and neighbor.next_hop_self %}
   neighbor {{ neighbor.ip }} next-hop-self
   {% endif %}
   {% if neighbor.route_map_in is defined and neighbor.route_map_in %}
   neighbor {{ neighbor.ip }} route-map {{ neighbor.route_map_in }} in
   {% endif %}
   {% if neighbor.route_map_out is defined and neighbor.route_map_out %}
   neighbor {{ neighbor.ip }} route-map {{ neighbor.route_map_out }} out
   {% endif %}

   ! Redistribution from OSPF to BGP
   {% if redistribute.protocol is defined and redistribute.protocol %}
   {% for redistribute in bgp.redistribute %}
   redistribute {{ redistribute.protocol }} route-map {{ redistribute.route_map }}
   {% endif %}
   {% endfor %}