! L2 lags vers switches d'accès
{% for lag in lags_access %}
{% if lag.type == "switched" %}
interface {{ lag.id }}
   description "{{ lag.description }}"
   no shutdown
   no routing
   vlan trunk allowed {{ lag.vlans.allowed }}
   vlan trunk native {{ lag.vlans.native }}

! Member Interfaces
{% for member in lag.members %}
interface {{ member.interface }}
   description "{{ member.description }}"
   no shutdown
   no routing
   lag {{ lag.id }} mode {{ lag.mode }}
{% endfor %}

! LACP Configuration
{% if lag.protocol == "lacp" %}
interface {{ lag.id }}
   lacp mode active
{% endif %}
{% endif %}
{% endfor %}