! Route Maps Configuration
{% for route_map in route_maps %}
! {{ route_map.name }}
{% for s in route_map.sequences %}
- name: "Configure route-map {{ route_map.name }} seq {{ s.sequence }}"
  aruba.aoscx.aoscx_config:
    parents:
      - "route-map {{ route_map.name }} {{ s.action }} seq {{ s.sequence }}"
    lines:
      {% if s.match is defined %}
      - "match {{ s.match }}"
      {% endif %}
      {% if s.set is defined %}
      - "set {{ s.set }}"
      {% endif %}
{% endfor %}
{% endfor %}

