! Route Maps Configuration
{% for route_map in route_maps %}
! {{ route_map.name }}
{% for sequence in route_map.sequences %}
route-map {{ route_map.name }} {{ sequence.action }} seq {{ sequence.sequence }}
{% if sequence.match %}
   match {{ sequence.match }}
{% endif %}
{% if sequence.set %}
   set {{ sequence.set }}
{% endif %}
!
{% endfor %}
{% endfor %}
