! Ports d'accès utilisateurs
{% for port_group in access_ports %}
! Configuration pour les ports {{ port_group.range | join(', ') }}
{% for port in port_group.range %}
interface {{ port }}
   description "{{ port_group.description }}"
   no shutdown
   no routing
   vlan access {{ port_group.vlan }}
{% if port_group.voice_vlan is defined %}
   voice-vlan {{ port_group.voice_vlan }}
{% endif %}
{% if port_group.bpdu_guard | default(true) %}
   spanning-tree bpdu-guard
{% endif %}
{% if port_group.portfast | default(true) %}
   spanning-tree admin-edge-port
{% endif %}
{% if port_group.storm_control | default(true) %}
   storm-control broadcast
   storm-control multicast  
   storm-control unknown-unicast
{% endif %}
{% if port_group.nac_enabled | default(false) and nac.enabled | default(false) %}
   ! Configuration NAC
   authentication
      method {{ port_group.nac_profile.split('_')[-1].lower() }}
      {{ port_group.nac_profile.split('_')[-1].lower() }}
         reauthentication {{ "enable" if port_group.nac_reauthentication | default(true) else "disable" }}
         timeout {{ port_group.nac_timeout | default(300) }}
         !
      !
   authentication-profile "{{ port_group.nac_profile }}"
   {% if port_group.voice_vlan is defined %}
   authentication voice-vlan {{ port_group.voice_vlan }}
   {% endif %}
{% endif %}
!
{% endfor %}
{% endfor %}