! Ports d'accès utilisateurs
{% for port_group in access_ports %}
! Configuration pour les ports {{ port_group.range | join(', ') }}
{% for port in port_group.range %}
interface {{ port }}
   description "{{ port_group.description }}"
   no shutdown
   no routing
   vlan access {{ port_group.vlan }}
{% if port_group.bpdu_guard | default(true) %}
   spanning-tree bpdu-guard
{% endif %}
{% if port_group.portfast | default(true) %}
   spanning-tree port-type admin-edge
{% endif %}
{% if port_group.storm_control | default(true) %}
   storm-control broadcast level 10
   storm-control multicast level 10  
   storm-control unknown-unicast level 10
{% endif %}
{% if port_group.nac_enabled | default(false) and nac.enabled | default(false) %}
! --- NAC / 802.1X & MAC-AUTH ---

   ! --- DOT1X (802.1X) ---
   aaa authentication port-access dot1x authenticator enable
   aaa authentication port-access dot1x authenticator reauth
   aaa authentication port-access dot1x authenticator quiet-period 0
   aaa authentication port-access dot1x authenticator reauth-period {{ nac.reauth_timer }}

   ! --- MAC-AUTH ---
   aaa authentication port-access mac-auth enable
   aaa authentication port-access mac-auth reauth
   aaa authentication port-access mac-auth quiet-period 0
   aaa authentication port-access mac-auth reauth-period {{ nac.reauth_timer }}
{% endif %}
!
{% endfor %}
{% endfor %}