! ===== CONFIGURATION NAC / 802.1X =====

{% if nac is defined and nac.enabled | default(false) %}
! Serveurs RADIUS
radius-server host {{ nac.server_groups[0].servers[0].host }} key {{ nac.server_groups[0].servers[0].key }}
radius-server host {{ nac.server_groups[0].servers[1].host }} key {{ nac.server_groups[0].servers[1].key }}

! Server Group
aaa server-group "{{ nac.server_groups[0].name }}"
   host {{ nac.server_groups[0].servers[0].host }}
   host {{ nac.server_groups[0].servers[1].host }}

! Authentication
aaa authentication port-access dot1x default
aaa authentication port-access mac-auth default

! 802.1X Global
dot1x system-auth-control

! Rôles
role name "{{ nac.default_role }}"
!
{% if nac.guest_role is defined %}
role name "{{ nac.guest_role }}"
!
{% endif %}
{% if nac.voice_role is defined %}
role name "{{ nac.voice_role }}"
!
{% endif %}
{% else %}
! NAC non configuré
{% endif %}