! L2 LAG uplink vers Distribution VSX
{% for lag in lags_Uplink %}
interface lag {{ lag.id }}
    description "{{ lag.description }}"
    no shutdown
    no routing
    lacp mode {{ lag.mode }}
    vlan trunk native {{ lag.vlans.native | default(1) }}
    vlan trunk allowed {{ lag.vlans.allowed }}
	spanning-tree bpdu-guard
    spanning-tree admin-edge-port

! Membres du LAG
{% for member in lag.members %}
interface {{ member.interface }}
    description "{{ member.description }}"
    no shutdown
    no routing
    lag {{ lag.id }}
    spanning-tree bpdu-guard
    spanning-tree admin-edge-port
{% endfor %}

{% endfor %}